<%- include ('./partiels/header.ejs') %>
 <body>
    <link rel="stylesheet" href="/css/produto_interno.css">
    <%- include('./partiels/navbar.ejs') %>
        <main>
          
            <section>
                <div>
                    foto 1
                    <p>conteúdo</p>
                </div>
                <div>
                    foto 2
                    <p>conteúdo</p>
                </div>
                
                <div>
                    foto 3
                    <p>conteúdo</p>
                </div>
            </section>
            
        </main>
        <%- include('./partiels/footer.ejs') %>
            
</body>
</html>