<%- include ('./partiels/header.ejs') %>
 <body>
    <link rel="stylesheet" href="/css/produto_interno.css">
    <%- include('./partiels/navbar.ejs') %>
        <main>
            <br>
            <h1>O melhor SUV da Categoria R$214.990,00</h1>
            <section>
                <div id="div-1">
                   <img src="../public/img/suv11.jpg">
                   <h2>Ford Territory 2023</h2>
                  <p> o carro mais elegante do ano</p>
                </div>


                <div id="div-2">
                    
                  <img src="../public/img/suv12.png">
                  <p>Você cercado de tecnologia embarcada para ter uma expêriencia 
                    de direção sem igual.
                </p>
                </div>

            </section>
            <br>
            <div id="div-3">
                <img src="../public/img/suv13.png">
                <p>Conforto e elegância
                    O potente motor  1.5 vai de 0 a 100km/h em cerca de 11.8, consome 9.2 km por litro
                    e na estrada fazendo cerca de 10km por litro
                </p>
            </div>
        </main>
        <%- include('./partiels/footer.ejs') %>
            
</body>
</html>