
ms {
  color: #3b3737;
  font-weight: bolder;
  text-align: center;
  margin: 20vh auto auto auto;
  margin-left: -8%;

}

options {
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 100px;
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}


article{
    display: grid;
    text-align: left;
    gap: 8%;
    margin-top: 20px;

  }

article > input,button{
  border-radius: 5px;
  width: 40vw;
  height: 40px;
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}

body {
  font-family: Open Sans Hebrew Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

main {
  display: flex;
  max-width: 70%;

  margin: auto;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  gap: 15px;



}

main options article p {
  font-size: 22px;
  font-weight: 400;
  line-height: 15px;
}

produtos {
  display: grid;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}  

veiculo{  
  margin: 10px;
  text-align: left;
  background-color: #7c7b7b;
  border: 5px solid rgba(8, 8, 8,0.3);
  border-radius: 15px 15px 15px 15px;
  width: 270px;
  display:flex;
  flex-direction: column;
  column-gap: 5px;
  row-gap: 5px;
  padding: 10px;
  color: white;
}

veiculo p{
  font-size: 20px;
  margin: 10px 0 10px 0;
}

veiculo img{
  width: 250px;
  height: 200px;
}

a:link { text-decoration: none; color: black;}
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color: black;}
a:active { text-decoration: none; color: black;}