section {
    width: 100%;
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    text-align: center;
  }

  h1{
    background-color: #9DD3DF;
    border-radius: 20px;
  }
  button{
    border-radius: 20px;
  }
  #form-finalize,
  #form-pix {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 320px;
  }
  div input{
    background-color: #C9D1D3;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
  h2 {
    font-weight: bolder;
  }
  form > input {
    padding: 10px;
    margin: 8px;
    text-align: center;
    border-radius: 20px;
  }
  form > button {
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    background-color: #3b3737;
    margin-top: 20px;
    cursor: pointer;
    
  }
 
  form > button:hover {
    background-color: rgb(24, 20, 20, 0.5);
  }
  form p {
    margin-top: 20px;
    color: #3b3737;
  }
  
  @media (max-width: 700px) {
    section {
      flex-direction: column;
      align-items: center;
    }
  
    section {
      gap: 20px;
    }
  }
  
  @media (max-width: 524px) {
    section {
      gap: 20px;
    }
  }
  @media(max-width:430px){
      section {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        #form-cadastro {
          margin-top: 10px;
        }
        
  }
  