section {
  width: 100%;
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  text-align: center;
}
#form-login,
#form-cadastro {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 320px;
}
#form-cadastro > input[type='file']{
  display: none;
}
.erros{
  color:red;
}
label{
  background-color: #3B3737;
  color:#fff;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
  padding: 10px 0;
  margin-top: 10px;
  border:2px solid dashed;
}
label:hover{
  background-color: black;
}
h2 {
  font-weight: bolder;
}
form > input {
  padding: 10px;
  margin: 8px;
  text-align: center;
}
form > button {
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  background-color: #3B3737;
  margin-top: 20px;
  cursor: pointer;
}
form > button:hover {
  background-color: rgb(24, 20, 20, 0.5);
}
form p {
  margin-top: 20px;
  color: #3B3737;
}
img{
  width:25px;
  height: 25px;
}
.errorInput{
  border: 2px solid rgb(189, 37, 37) !important;
}
@media (max-width: 700px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  section {
    gap: 20px;
  }
}
@media (max-width: 524px) {
  section {
    gap: 20px;
  }
}
@media(max-width:430px){
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #form-cadastro {
        margin-top: 10px;
      }
}