body {
  font-family: Open Sans Hebrew Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  gap: 25%;
}

options {
  
  height: 15vh;
  display: grid;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  gap: 15%;
  
}

article{
  width: 60vw;
  display: flex;
  text-align: left;
  gap: 5%;
  margin-top: 20px;

  justify-content: center;
  align-items: center;
}


@media (max-width: 700px) {
  article{    
    display:grid;
    width: auto;
    justify-content: left;
    align-items: left;
  }
  options {
    margin-bottom: 220px;
  }
}
@media (max-width: 530px) {
  article{    
    display:grid;
    width: auto;
  }
}
@media (max-width: 430px) {
  article{    
    display:grid;
    width: auto;
  }
}
@media (max-width: 342px) {
  article{    
    display:grid;
    width: auto;
  }
}

options > article > input{
  background-color: #F7F7F7;
  border-color: #F7F7F7;
  min-width: 220px;
  min-height: 35px;
}

select{
  min-width: 175px;
  min-height: 20px;
}


options > article > button{
  background-color: #F7F7F7;
  border-color: #F7F7F7;
  min-width: 80px;
  min-height: 25px;
  
}

article > input,button{
  border-radius: 5px;
  width: 35vw;
}

produtos {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    text-align: center;

    /*config para dar 'quebra de linha' nos blocos  */
    flex-wrap: wrap;
}  

veiculo{  
  text-align: left;
  background-color: #F7F7F7;
  border-color: #F7F7F7;
  width: 270px;

  display:flex;
  flex-direction: column;
  column-gap: 5px;
  row-gap: 5px;
}

@media (min-width: 1280px) {
  produtos{    
    width: 75vw;
  }
}
@media (max-width: 700px) {
  produtos{    
    display:grid;
  }
}
@media (max-width: 530px) {
  produtos{    
    display:grid;
  }
}
@media (max-width: 430px) {
  produtos{    
    display:grid;
  }
}
@media (max-width: 342px) {
  produtos{    
    display:grid;
  }
}

veiculo p{
  font-size: 20px;
  margin: 10px 0 10px 0;
}

veiculo img{
  width: 250px;
  height: 200px;
}

a:link { text-decoration: none; color: black;}
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color: black;}
a:active { text-decoration: none; color: black;}