section {
  width: 100%;
  max-width: 1100px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  text-align: center;
}

ul{
  list-style: none;
  display: flex;
}

img{
  width: 368px;
  height: 350px;
}

* {
  margin: 0;
  padding: 0;
 /* box-sizing: border-box;*/
}

div{
  display:inline-block;
}




@media (max-width: 700px) {
    section {
      flex-direction: column;
      align-items: center;
    }
  
    section {
      gap: 20px;
    }
}
  
@media (max-width: 524px) {
    section {
      gap: 20px;
    }
}
@media(max-width:430px){
      section {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        #div-1 {
          margin-top: 10px;
        }
        
}
  