body {
  font-family: Open Sans Hebrew Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

options {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}


article{
    display: flex;
    text-align: left;
    gap: 5%;
    margin-top: 20px;
  }

article > input,button{
  border-radius: 5px;
  width: 40vw;
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}

produtos {
    width: 100%;
    
  display: flex;
    justify-content: space-around;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}  

/*veiculo{  
  text-align: left;
  background-color: #F7F7F7;
  border-color: #F7F7F7;
  width: 275px;

  display: grid;
  flex-direction: column;
  column-gap: 5px;
  row-gap: 5px;
}*/

veiculo p{
  font-size: 20px;
  margin: 10px 0 10px 0;
}

veiculo img{
  width: 250px;
  height: 200px;
}

a:link { text-decoration: none; color: black;}
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color: black;}
a:active { text-decoration: none; color: black;}