<header>
    <div>
        <h2>Web Veículos</h2>
    </div>
    <span class="material-symbols-outlined" onclick="clickMenu()">
        menu
    </span>
    <nav id="itens">
        <ul >
            <a href="#" style="color: white;">
                <li>Carros</li>
            </a>
            <a href="#" style="color: white;">
                <li>Motos</li>
            </a>
            <a href="/inicial" style="color: white;">
                <li>Home</li>
            </a>
        </ul>
    </nav>
    <a href="/usuarios/login" class="login" style="color: white;">Login</a>


</header>