<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404-page.css">
    <title>Projeto Integrador</title>
</head>
<body>
    <div>
        <h1>Página não encontrada</h1>
        <a href=""><h3>Retorne a página Inicial</h3></a>
        <figure>
            <img src="/img/404-erro.jpg_.webp" alt="404-erro">
            <figcaption>Informações da Figura</figcaption>
          </figure>
    </div>
  

</body>
</html>