<%- include ('./partiels/header.ejs') %>
 <body>
    <link rel="stylesheet" href="/css/produto_interno.css">
    <%- include('./partiels/navbar.ejs') %>
        <main>
          
            <section>
           
            </section>
            
        </main>
        <%- include('./partiels/footer.ejs') %>
            
</body>
</html>