<%- include ('./partiels/header.ejs') %>
 <body>
    <link rel="stylesheet" href="/css/produto_interno.css">
    <%- include('./partiels/navbar.ejs') %>
        <main>
            <section class="galeria">
                <ul>
                    <li>
                        <img class="foto" src="/img/suv11.jpg">
                    </li>
                    <li>
                        <img class="foto" src="/img/suv11.jpg">
                    </li>
                    <li>    
                        <img class="foto" src="/img/suv11.jpg">
                    </li>
                </ul>

                
            </section>

            <section>
                <form action="">
                    <h1>Fiat Uno</h1>
                   <div id="div1">
                            Cidade:
                            <label for="">Natal/RN</label>
                        
                        
                   </div><br>
                   <div id="div2">
                       Ano:
                        <label for="">2021</label>
                    </div><br>
                       
                   <div>
                        KM:
                        <label for="">1000</label>
                        
                        
                   </div> <br>  
                   <div>
                    Câmbio:
                        <label for="">Automático</label>
                    
                            
                    </div>

                        
                    <div>
                        <label for="">Carroceria</label>
                    </div>

                       
                    <div>
                        <label for="">
                            Combustível
                        </label>
                    </div>
                    
                        
                    <div>
                        Final placa
                        <label for="">1</label>
                    </div>


                    <div>
                        Cor
                        <label for="">cinza</label>
                    </div>


                    <div>
                        Aceita troca
                        <label for="">sim</label>
                    </div>


                    <div>
                        único dono
                        <label for="">sim</label>
                    </div>


                    <div>
                        Todas as revisões feitas pela concessionária
                        <label for="">sim</label>
                    </div>


                    <div>
                        IPVA pago
                        <label for="">sim</label>
                    </div>


                    <div>
                        Garantia
                        <label for="">sim</label>
                    </div>


                </form>
            </section>
            <section>
                <form action="">
                    informações do veículo
                    
                </form>
            </section>
            <section>
                <form action="">
                  preço
                </form>
            </section>
            
                
        </main>
        <%- include('./partiels/footer.ejs') %>
       
        
</body>
</html>
