<%- include ('./partiels/header.ejs') %>
 <body>
       <link rel="stylesheet" href="/css/produto_interno.css">
    
    <%- include('./partiels/navbar.ejs') %>
        <main>
            <section>
                <div id="div1">
                    <img src="/img/suv13.png" alt="">
                </div>
    
                <div id="div2">
                    <ul style="border: radius 25px; ;">
                        <li id="ul21"> Ano:  </li>
                        <li id="ul22"> Marca: </li>
                        <li id="ul21">Preço: </li>
                        <li id="ul22">Propulsão</li>
                        <li id="ul21">Configuração:</li>                        
                        <li id="ul22">KM:</li>
                        <li id="ul21">Combustível:</li>
                        <li id="ul22">Câmbio</li>
                        <li id="ul21">Porte:</li>
                        <li id="ul22">Lugares:</li>
                        <li id="ul21">Porta:</li>
                        <li id="ul22">Torque:</li>
                        <li id="ul21">Capacidade de bateria:</li>
                        <li id="ul22">potência:</li>
                        <li id="ul21">Consumo elétrico:</li>
                        <li id="ul22">Autonomia:</li>
                        <li id="ul21">Freio:</li>
                        <li id="ul22">Direção:</li>
                        <li id="ul21">Dimensão:</li>   
                    </ul>
                </div>
            </section>
           
                
        </main>
        <%- include('./partiels/footer.ejs') %>
       
      </body>
</html>
