<%- include ('./partials/header.ejs') %>

<body>
    <link rel="stylesheet" href="/css/sucesso_compra.css">
    <%- include('./partials/navbar.ejs') %>
        <main>
            <section>
                <!-- <form id="form-finalize" action="/" method="post"> -->
                    <div id="form-finalize">
                        <h1>Compra realizada com sucesso!</h1><br><br>
                        <!-- <label for="">Detalhes do pedido</label><br>
                            <input type="text" name="texto" id="texto"><br><br>
                            <label for="">código de rastreamento</label><br>
                            <input type="text" name="name" id="name"><br><br><br>
                            <label for="">Data prevista da chegada do produto ao destinatário</label><br>
                            <input type="date" name="entrega" id="entrega"> -->
                            <h4>Deseja voltar a tela inicial?</h4>
                            <a href="/inicial"><button type="submit" id="salvar">VOLTAR</button></a>
                            <br>
                            <br>
                            <h4>Deseja comprar mais?</h4>
                            <a href="/produtos"><button type="submit" id="salvar">COMPRAR MAIS</button></a>
                            <br>
                            <br>
                            <!-- </form> -->
                        </div>
                            
                <!-- <form id="form-pix">
                    <h1>Deixe aqui o seu feedback!</h1><br>
                    
                        <input type="text" name="pesquisad" id="pesquisad"><br>
                    
                    <a href="/inicial"><button type="submit" id="salvar">FINALIZAR MEU FEEDBACK</button></a>    
                </form> -->
            </section>
        </main>
        <%- include('./partials/footer.ejs') %>
            
</body>
</html>