<%- include("./partiels/header.ejs") %>

<body>
    <link rel="stylesheet" href="/css/usuario.css">
    <%- include("./partiels/navbar.ejs") %>


    <!-- aqui -->
    <main>
        <ul class="dados">
            <a href="/usuarios/pedidos">
                <h3>Pedidos</h3>
                <li>
                    Acompanhar pedidos
                </li>
            </a>

            <a href="/">
                <h3>Minha Conta</h3>
                <li>
                    Editar dados
                </li>
            </a>

            <a href="/">
                <h3>Endereço</h3>
                <li>
                    Alterar endereço
                </li>
            </a>

            <a href="/">
                <h3>Cartões</h3>
                <li>
                    Cartões cadastrados
                </li>
            </a>
        </ul>
        <div class="imagens">
            <div class="moto1">
                <img src="/img/cores-harley-davidson-night-rod 1.png" alt="">
            </div>
            <div class="moto2"><img src="/img/vroad white 1.png" alt=""></div>
        </div>
    </main>



    <!-- aqui -->


    <%- include("./partiels/footer.ejs") %>
</body>

</html>