<footer>
    <div class="footer-social">
        <ul class="social1">
            <a href="/inicial">
                <li>Home</li>
            </a>
            <a href="/produtos">
                <li>Veiculos</li>
            </a>
            <a href="/produtos/carrinho">
                <li>Carrinho</li>
            </a>
        </ul>



        <ul class="social2">
            <h3> Social</h3>
            <a href="#">
                <a href="#"><img src="/img/facebook_2.png" alt="facebook-logo"></a>
            </a>
            <a href="#">
                <a href="#"><img src="/img/instagram_6.png" alt="instagram-logo"></a>
            </a>
            <a href="#">
                <a href="#"><img src="/img/twitter_1.png" alt="twitter-logo"></a>
            </a>
        </ul>
    </div>


</footer>
<script src="/js/scripts.js"></script>