<header>
    <div>
        <h2>Web Veículos</h2>
    </div>
    <span class="material-symbols-outlined" onclick="clickMenu()">
        menu
    </span>
    <nav id="itens">
        <ul >
            <a href="/inicial" style="color: white;">
                <li>Home</li>
            </a>
            <a href="/produtos" style="color: white;">
                <li>Veículos</li>
            </a>            
            <a href="/produtos/carrinho" style="color: white;">
                <li>Carrinho</li>
            </a>
        </ul>
    </nav>
    <a href="/usuarios/login" class="login" style="color: white;">Conta</a>


</header>